// @use "../mixins";
// @use "../functions" as funs;

////
// GAME LAYOUT
////

// FIXME: cambia nombre por video gallery
// .pg-game {
//   container: pg-game-body / inline-size;
// }

$imgWidth: 250px; // <img:width> HTML
$gap: 1rem;

// Agnostic grid, can be placed in any block element nesting other block elements (div, ol, ul, dd)
.podcasts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min($imgWidth, 100%), 1fr));
  gap: $gap;
  container: podcasts-container / inline-size;

  > .podcast {
    > .podcast-thumb {
      > .podcast-img {
        // width: 100%;
        // aspect-ratio: 16/9;
        // object-fit: cover;
        // object-position: top;

        > .responsive-iframe {
          iframe {
            width: 100%;
            aspect-ratio: 16/9;
            // border-color: transparent;
          }
        }
      }
    }

    > .podcast-content {
      padding: 3cqw;
    }
  }
}

// 2col --> 1 gap (sm, md)
@container podcasts-container (inline-size > #{calc($imgWidth * 2 + $gap)}) {
  .podcast.featured {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 2;
  }
}

// 3col --> 2 gap (lg, xl, xxl)
@container podcasts-container (inline-size > #{calc($imgWidth * 3 + ($gap * 2))}) {
  .podcast.featured {
    grid-column: span 3;
  }
}

// 4col --> 3 gap (FullHD)
@container podcasts-container (inline-size > #{calc($imgWidth * 4 + ($gap * 3))}) {
  .podcast {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;

    &.featured {
      grid-template-columns: 1fr 1fr;
      grid-column: span 2;
    }
  }
}

figure:has(iframe) {
  // @media only screen and (min-width: 1920px) {
  //   /* tablet max width */
  //   width: 771px;
  //   margin: 0 auto;
  // }

  // .responsive-iframe {
  //   iframe {
  //     width: 100%;
  //     aspect-ratio: 16/9;
  //     border-color: transparent;
  //   }
  // }

  // figcaption {
  //   margin-top: 0.5rem;
  //   font-size: 0.7rem;
  // }
}

// TODO: layer skins
.featured {
  border: 3px dashed oklch(0.6 0.21 355.49) !important; // border color fallback
  border: 3px dashed color(display-p3 0.78 0.26 0.52) !important; // border color (--bs-primary)
}
