<header class="layout-area-header py-3 shadow-sm">
  <nav class="container-lg nav justify-content-around align-items-center">    
    <p class="nav-item">
      <a class="d-flex align-items-center text-decoration-none" href="index.html">     
        <include src="./views/logo.html"></include>    
        <span class="h2 fw-bold text-secondary">Circular Economy 101</span>   
      </a>
    </p>  
    <ul class="nav">        
      <include src="./views/nav-items.html"></include>  
    </ul>
  </nav>
</header>
