////
// BOOTSTRAP VARIABLES OVERRIDES
////

// Opt-in Enablings
////

// Disable default Grid Sys
$enable-grid-classes: false;

// Enable CSS Grid Sys
$enable-cssgrid: true;

// Website THEMING
////

$primary: #d63384; // pink-500
$secondary: #052c65; // blue-800
$black: #0f0f0f; // broken black
$white: #ffffff;

// Component THEMING
////

// Accordion
$accordion-color: $white;
$accordion-bg: $secondary;
$accordion-icon-color: $white;
$accordion-icon-active-color: $white;
$accordion-button-color: $white;
$accordion-button-active-color: $white;
$accordion-button-active-bg: $primary;
$accordion-border-color: $primary;
