////
// BOOTSTRAP VARIABLES OVERRIDES
////

// Opt-in Enablings
////

// Disable default Grid Sys
$enable-grid-classes: false;

// Enable CSS Grid Sys
$enable-cssgrid: true;

// Website THEMING
////

$primary: #d63384; // pink-500
$primary-subtle: #efadce;
$secondary: #0a58ca; // blue-600
$secondary: #084298; // blue-700
$secondary-shade1: #052c65; // blue-800
$secondary-shade2: #031633; // blue-900
$black: #0f0f0f; // broken black
$white: #ffffff;

// Component THEMING
////

// Accordion
$accordion-button-color: $primary-subtle;
$accordion-icon-color: $primary-subtle;
$accordion-button-active-bg: $primary-subtle;
$accordion-button-active-color: $secondary-shade2;
$accordion-icon-active-color: $secondary-shade2;
$accordion-color: $white;
$accordion-bg: $secondary-shade2;
