////
// VARS
////

// Typo
////

$font-primary: "AlegreyaSans", Arial, sans-serif;
$font-secondary: "Georgia", "Times New Roman", serif;

// Palette
////

$color-primary: #730fd2; // base
$color-accent: #a20b54; // triadic
